# This repository is intended to be used as the home folder, so it whitelists
# everything that is version-controlled. Folders that are trusted are exempted;
# others go through same process.

# Home

/*

# Files

!.Xresources
!.acme
!.bash_profile
!.bashrc
!.cwmrc
!.gitconfig
!.gitignore
!.hacks.sh
!.rcrc
!.tmux.conf
!.vimrc
!.xinitrc
!README.md
!requirements.txt

# Folders

!.ad
!.vim
!.wallpapers/
!bin/
!cheatsheets/
!lib/

# Config

!.config/
.config/*

# Folders

!.config/bat/
!.config/bspwm/
!.config/mpv/
!.config/qtile/
!.config/sxhkd/
!.config/vis/
!.config/zathura/

# Config > Qutebrowser

!.config/qutebrowser/
.config/qutebrowser/*
!.config/qutebrowser/config.py

# Moc

!.moc/
.moc/*
!.moc/config
!.moc/keymap
!.moc/themes

# Vifm

!.vifm/
.vifm/*
!.vifm/colors/
!.vifm/vifmrc
