# This repository whitelists everything that is version-controlled. Folders
# that can be trusted are completely whitelisted; others go through the same
# process! This can be redesigned if required.

# Ignore everything.

/*

# Normal files.

!sync_directories.py

# Safe normal folders.

!tests/
