# This repository is intended to be used as the home folder; so it whitelists
# everything that is version-controlled. Folders that can be trusted are
# completely whitelisted, others go through the same process!

# Home

/*

# Files

!.Xresources
!.acme
!.bash_profile
!.bashrc
!.clang-format
!.fzfrc
!.gitconfig
!.gitignore
!.nexrc
!.rcrc
!.tmux.conf
!.vimrc
!.xinitrc
!.xinitrc.2bwm
!.xinitrc.i3wm
!.xinitrc.rio
!.zprofile
!.zshrc
!README.md
!cmd.txt
!prog.txt
!plan9.txt

# Folders

!.icons/
!.unified/
!.urxvt
!.vim
!.wallpapers/
!bin/
!cheatsheets/
!lib/

# Config

!.config/
.config/*

# Files

!.config/.fonts.conf

# Folders

!.config/conky/
!.config/gtk-3.0/
!.config/mpv/
!.config/nvim/
!.config/rofi/
!.config/yapf/

# Config > Code

!.config/Code/
.config/Code/*
!.config/Code/User/
.config/Code/User/*
!.config/Code/User/settings.json

# Config > Vimb

!.config/vimb/
.config/vimb/*
!.config/vimb/config

# Local

!.local/
.local/*

# Local > Share > Neovim

!.local/share/
.local/share/*
!.local/share/nvim/
.local/share/nvim/*
!.local/share/nvim/site/
.local/share/nvim/site/*
!.local/share/nvim/site/pack/

# Moc

!.moc/
.moc/*
!.moc/config
!.moc/keymap
!.moc/themes

# Textadept

!.textadept
.textadept/*
.textadept/init.lua

# Unified

!.unified/
.unified/pack/

# Vifm

!.vifm/
.vifm/*
!.vifm/colors/
!.vifm/vifmrc
