! XTerm
! =====

! Colors

XTerm*background: #121212
XTerm*foreground: #f8f8f2
XTerm*cursorColor: #f8f8f2
XTerm*color0: #121212
XTerm*color1: #fd5e53
XTerm*color2: #50c878
XTerm*color3: #e6db74
XTerm*color4: #318ce7
XTerm*color5: #fd3f92
XTerm*color6: #40e0d0
XTerm*color7: #f8f8f2
XTerm*color8: #262626
XTerm*color9: #fd5e53
XTerm*color10: #50c878
XTerm*color11: #e6db74
XTerm*color12: #318ce7
XTerm*color13: #fd3f92
XTerm*color14: #40e0d0
XTerm*color15: #f8f8f2

! Font

XTerm.vt100.faceName: DejaVu Sans Mono:style=Book:antialias=true
XTerm.vt100.faceSize: 13
XTerm.vt100.geometry: 80x24

! General

XTerm.allowBoldFonts: true
XTerm.selectToClipboard: true
XTerm.locale: true
XTerm.loginshell: true
XTerm.savelines: 0
XTerm.utf8: 1
XTerm.visualBell: false
